.post {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    // &__avatar {}

    &__user{
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        gap: 0.5rem;
    }

    // &__username{}

    &__date{
        font-size: 0.8rem;
    }

    // &__content{}

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__like {
        background: transparent;
        font-size: 1rem;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 1rem;

        &::before {
            font-size: 1.2rem;
        }
    }

    &__buttons {
        display: flex;
        gap: 1rem;
    }

    &__edit, &__delete {
        background: transparent;
        font-size: 1rem;
        color: inherit;
    }
}