.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-color);

    &__body {
        min-height: 350px;
        min-width: 500px;
        display: flex;
        flex-direction: column;
    }

    &__header {
        padding: 1.5rem 1.5rem 1rem;
        display: flex;
        align-items: center;
        border-bottom: 1px var(--border-color) solid;
    }

    &__title {
        flex: 1 1 auto;
        text-align: center;
    }

    &__close-btn {
        background-color: transparent;
        color: var(--logo-color);
        font-size: 2rem;
        transition: color 0.3s ease 0s;

        @media (hover: hover) {
            &:hover {
                color: var(--main-color);
            }
        }
    }
}